{% extends "layout.html" %}

{% block content %}

<div class="change_password">
    <h1 id="heading">Change Password</h1>
    <hr>

    <form class="form" method="post" action="">
        {{ form.hidden_tag() }} 
      <label for="current_password">{{form.current_password.label}}</label>
      {% if form.current_password.errors %}
           {{form.current_password (style="border: 2px solid red;")}}
        {% for error in form.current_password.errors %}
            <small style="color: red;">{{error}}</small>
        {% endfor %}
      {% else %}
          {{form.current_password}}
      {% endif %}
      
      <label for="new_password">{{form.new_password.label}}</label>
      {% if form.new_password.errors %}
          {{form.new_password (style="border: 2px solid red;")}} 
    {% for error in form.new_password.errors %}
        <small style="color: red;">{{error}}</small>
    {% endfor %}
     {% else %}
        {{form.new_password}}
    {% endif %}

    <label for="new_password_confirm" class="new_password_confirm">{{form.new_password_confirm.label}}</label>
    {% if form.new_password_confirm.errors %}
        {{form.new_password_confirm (style="border: 2px solid red;")}} 
    {% for error in form.new_password_confirm.errors %}
      <small style="color: red;">{{error}}</small>
   {% endfor %}
   {% else %}
      {{form.new_password_confirm}}
   {% endif %}

    

     {{form.submit}}
    </form>

</div>

{% endblock content %}