{% extends "layout.html" %}

{% block content %}

<div class="account">
    <h1 id="heading">Reset Password</h1>
    <hr>
      
   <form class="form" method="POST" action="">
    {{ form.hidden_tag() }} 
    <label for="password">{{form.password.label}}</label>
      {% if form.password.errors %}
          {{form.password (style="border: 2px solid red;")}} 
    {% for error in form.password.errors %}
        <small style="color: red;">{{error}}</small>
    {% endfor %}
     {% else %}
        {{form.password}}
    {% endif %}

    <label for="password">{{form.confirm_password.label}}</label>
        {% if form.confirm_password.errors %}
            {{form.confirm_password (style="border: 2px solid red;")}} 
    {% for error in form.confirm_password.errors %}
        <small style="color: red;">{{error}}</small>
    {% endfor %}
        {% else %}
        {{form.confirm_password}}
    {% endif %}
    

    {{form.submit}}
    </form>

</div>

{% endblock content %}

