{% extends "layout.html" %}

{% block content %}

<div class="account">
    <h1 id="heading">Reset Token</h1>
    <hr>
      
   <form class="form" method="POST" action="">
    {{ form.hidden_tag() }} 
    <label for="email">{{form.email.label}}</label>
      {% if form.email.errors %}
          {{form.email (style="border: 2px solid red;")}} 
    {% for error in form.email.errors %}
        <small style="color: red;">{{error}}</small>
    {% endfor %}
     {% else %}
        {{form.email}}
    {% endif %}

    {{form.submit}}
    </form>

</div>

{% endblock content %}

